<u><h2>Make new habit</h2></u>
<section id="habittt">
    <span>
        Name:
        <input id="text" type="text" placeholder="Sleep 10 hours" />
        Goal Per Week:
        <input id="number" type="number" placeholder="1" />
        <button id="button1">Add</button><br />
        <br />
        Add default habits:
        <button id="exercise">Exercise🤸‍♀️</button>
        <button id="read">Read📚</button>
        <button id="meditate">Meditate🧘‍♂️</button>
        <button id="study">Study📖</button>
        <button id="code">Code👨‍💻</button><br /><br />
        <div id="textt"></div>
    </span>
</section>

<div id="flex">
    <div id="tracker">
        <u><h2>Tracker</h2></u>
        <div id="display">
            <button id="PD">Previous Day</button>
            <input type="date" id="daate" />
            <button id="ND">Next Day</button><br />
            Date: <span id="date"></span>
            <p>
                <span id="tracktext"></span>
            </p>
        </div>
    </div>

    <div id="graphh">
        <u><h2>Result Graph</h2></u>
        <div id="display">
            <p id="graph" class="graph"></p>
        </div>
    </div>
</div>
